layout: index
description: ThinkGo is a fast, simple & powerful web framework written in Go (Golang).
subtitle: a fast, simple & powerful web framework
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title EASY TO USE
      p.intro-feature-desc Start your apps quickly.It's the only one Go web framework with rich support of the MVC Architectural Pattern.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title MODULAR
      p.intro-feature-desc With powerful built-in modules including route, middleware, session, caching, logging, ORM supporting. You get the powerful foundation for any type of applications.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Data Rendering
      p.intro-feature-desc API to send variety of HTTP response, including JSON, XML, HTML, File, Attachment.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Service Oriented
      p.intro-feature-desc Thinkgo gives you the structure to build service oriented apps. It’s easy to build microservices with Thinkgo.