layout: index
description: ThinkGo是一个快速、简洁且高效的Web框架.
subtitle: 快速、简洁且高效的Web框架
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 简单上手
      p.intro-feature-desc 快速开始你的应用，它是唯一一个拥有MVC全架构模式丰富支持的Go Web框架。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 丰富的模块化支持
      p.intro-feature-desc ThinkGo 内置了强大的模块，包括 路由、中间件、session、缓存、日志、ORM 等强大的模块，足以支撑你任何的应用。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 数据呈现
      p.intro-feature-desc 用于发送各种HTTP响应的API，包括JSON，XML，HTML，文件，附件等。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 面向服务
      p.intro-feature-desc ThinkGo为您提供构建面向服务的应用程序的结构。用ThinkGo构建微服务很容易。